pkgbase = otf-monaspice-huhanme-nerd-font
	pkgdesc = GitHub's Monaspace, with the Humanist, Handwriting and Mechanical variants for the normal, italic (& bold italic), and bold variants, patched with nerd font glyphs on top
	pkgver = 1.400
	pkgrel = 1
	url = https://github.com/aaronliu0130/monaspice
	arch = any
	license = OFL-1.1-RFN
	makedepends = python-fonttools
	provides = ttf-font-nerd
	source = https://github.com/githubnext/monaspace/releases/download/v1.400/monaspace-nerdfonts-v1.400.zip
	source = https://github.com/githubnext/monaspace/raw/refs/tags/v1.400/LICENSE
	source = Monaspice HuHanMe NF generic.ttx
	sha256sums = 9b7f9505d977601d8819dfdb57fa4b49bdab61132b6d1131c2e8d092066edc5a
	sha256sums = 0e84e5f7dd6f05e74a00f2fb828ca43e489d954f5509ff0fa439ea18c0d35fe9
	sha256sums = 8b64a7f467709300864cb4a14d15a9a8864bcfd067e8021d4f5ae57324a21a20

pkgname = otf-monaspice-huhanme-nerd-font
